models/
docs/.prompts/
services/rag-soc-indexer/logs/
services/rag-soc-indexer/old/
services/rag-soc-indexer/vector_index_gpu/
services/rag-soc-indexer/venv_index/
services/rag-soc-converter/venv_prepare/
services/rag-soc-converter/hdx_converter.egg-info
source/
tests/

